<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="HomeMediaDBContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=HomeMediaDBContext;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="HomeMediaDBContextServer" 
         connectionString="Data Source=195.178.232.16;Initial Catalog=ad8236;Persist Security Info=True;User ID=ad8236;Password=Luky%1975" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>